.card-preparation-time { 
    background: #FFF7FC;
    padding: 35px; 
    margin-top: 40px;
    border-radius: 10px;
    color: #73706E;
    display: flex;
    flex-direction: column;
    gap: 15px;
    
}

.preparation-title { 
    color: #7E405B;
    margin-left: -15px;
}


.list-preparation   { 
    display: flex;
    flex-direction: column;
    gap: 10px; 
}


.list-preparation-time li::before { 
    content: '\2022'; 
    color: #7E405B;
    display: inline-block;
    width: 2rem;
    margin-bottom: 10px;
   
}

.list-preparation-time { 
    margin-bottom: 10px;
}

.card_list_preparation-ingredients { 
    padding: 30px; 
    color: #73706E;
}

